/* RESET CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

.text-white {
  color: #fff !important;
}

.btn {
  background-color: #000;
  color: #fff;
  border: none;
  -webkit-appearance: none;
}

.btn:hover {
  background-color: #ccc;
  cursor: pointer;
  color: #000;
}

/* 

1.Vị trí
2.Kích thước(width, height)
3.Màu sắc
4.Kiểu dáng

*/

#main {
}

#header {
  height: 46px;
  background-color: #000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#nav {
  display: inline-block;
}

#nav li {
  display: inline-block;
  position: relative;
}

#nav li a {
  text-decoration: none;
  color: #fff;
  padding: 0px 24px;
  line-height: 46px;
  text-transform: uppercase;
}

#nav > li:hover > a,
.subnav > li:hover > a {
  color: #000;
  background-color: #ccc;
  display: block;
}

#nav .subnav {
  display: none;
  position: absolute;
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav li {
  display: block;
  min-width: 160px;
}

#nav > li:hover > .subnav {
  display: block;
}

#nav .subnav a {
  color: #000;
  text-transform: capitalize;
  padding: 0px 16px;
}

#header #search-header {
  float: right;
}

#header #search-header .search-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
  padding: 0px 21px;
}

#header #search-header:hover {
  background-color: #f44336;
  cursor: pointer;
}

#header #mobile-menu-header {
  display: none;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}

#header #mobile-menu-header .menu-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
  padding: 0px 21px;
}

#header #mobile-menu-header:hover {
  background-color: #ccc;
  cursor: pointer;
}

#slider {
  position: relative;
  padding-top: 50%;
  background: url("/assets/img/slider/slider1.jpg") top center / cover no-repeat;
}

#slider #text-slider {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 32px;
  text-shadow: 0 0 1px;
}

#slider #text-slider h2 {
  padding-bottom: 32px;
  font-weight: 500;
}

#container {
}

#container .content-section {
  width: 800px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 16px 112px;
}

#container .content-section .heading-title {
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0px;
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 500;
}

#container .content-section .description-title {
  text-align: center;
  padding: 10px 0px;
  font-size: 15px;
  font-style: italic;
  opacity: 0.5;
}

#container .content-section .about-text {
  margin-top: 15px;
  text-align: justify;
  line-height: 1.4;
}

#container .member-team {
  display: flex;
  justify-content: space-between;
}

#container .member {
  padding: 32px 0;
}

#container .member .member-name {
  text-align: center;
  margin: 15px 0;
}

#container .member .section-img {
  display: flex;
  justify-content: center;
}

#container .member .section-img .member-img {
  width: 60%;
}

.tour-section {
  background-color: #000;
}

.tour-section .month-list {
  background-color: #fff;
  margin-top: 24px;
}

.tour-section .month-list li {
  text-transform: capitalize;
  color: #757575;
  padding: 8px 16px;
  border-bottom: 0.5px solid #ddd;
  list-style-type: none;
}

.tour-section .month-list .sold-out {
  display: inline-block;
  background-color: #f44336;
  padding: 3px 4px;
  font-size: 15px;
  color: #fff;
  margin-left: 16px;
}

.tour-section .month-list .badge-quantity {
  float: right;
  background-color: #000;
  padding: 4px 8px;
  border-radius: 50%;
  margin-top: -4px;
  color: #fff;
}

#sale-place {
  display: flex;
  justify-content: space-around;
  margin: 32px -8px;
}

#sale-place .place-tickets {
  margin: 0px 8px;
  background-color: #fff;
}

#sale-place .place-tickets .place-img {
  width: 100%;
}

#sale-place .place-tickets .place-body {
  padding: 16px;
}

#sale-place .place-tickets .name-place {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
}

#sale-place .place-tickets .date-sale {
  opacity: 0.7;
  margin: 15px 0;
}

#sale-place .place-tickets .descrip-place {
}

#sale-place .place-tickets .button-buy {
  margin: 15px 0;
  padding: 12px;
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

.contact-container .contact-info {
  font-size: 18px;
  line-height: 1.5;
}

.contact-container .contact-info i[class*="ti-"] {
  width: 30px;
  display: inline-block;
}

.contact-container .contact-from input {
  padding: 10px;
  margin-left: 8px;
}

.contact-container .contact-from .contact-message {
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 16px;
}

.contact-container .contact-from .contact-message input {
  width: 100%;
}

.contact-container .contact-from .submit-form {
  float: right;
  padding: 12px 18px;
}

.map-img {
  width: 100%;
}

#footer {
  text-align: center;
  padding: 64px;
  color: #000;
  text-decoration: none;
}

#footer .socials-list a {
  text-decoration: none;
}

#footer i {
  color: rgba(0, 0, 0, 0.6);
  font-size: 24px;
  letter-spacing: 4px;
}

#footer i:hover {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

#footer .copyright,
a {
  color: rgba(0, 0, 0, 0.6);
  padding-top: 16px;
  font-size: 14px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  display: none;
  align-items: center;
  justify-content: center;
}

.open {
  display: flex;
}

#modal-container {
  width: 900px;
  max-width: calc(100% - 32px);
  background-color: #fff;
  min-height: 200px;
  position: relative;
  animation: modalFadeIn ease 0.5s;
}

#modal-container i {
  margin-right: 5px;
}

#exit-modal {
  position: absolute;
  background-color: #009688;
  top: 0;
  right: 0;
  padding: 10px;
  opacity: 0.8;
  color: #fff;
}

#exit-modal:hover {
  opacity: 1;
  cursor: pointer;
}

#header-modal {
  text-align: center;
  padding: 24px;
  background-color: #009688;
  color: #fff;
  letter-spacing: 6px;
  font-size: 30px;
}

#body-modal {
  padding: 16px;
}

#body-modal label {
}

#body-modal .input-modal {
  width: 100%;
  padding: 16px;
  margin-top: 10px;
  margin-bottom: 24px;
}

#body-modal #pay {
  width: 100%;
  padding: 16px;
  background-color: #009688;
  border: none;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}

#body-modal #pay:hover {
  opacity: 0.9;
  cursor: pointer;
}

#help-modal {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}

#help-modal a {
  padding-left: 5px;
  color: #2196f3;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
